/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");

#root {
  color: white;
  font-family: "Iceland";
  font-weight: 300;
  background: url("redtrees.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

.container {
 font-size: 12px;
}

#navbar-container {
  padding-left: 0px;
  padding-right: 0px;
}

#navbar {
  background-color: #404040;
}

#navbar li {
  padding: 15px 20px 15px 20px;
}

#navbar a {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

#navbar img {
  height: 50px;
  padding-right: 20px;
}
