#mode-filter {
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #D0D0D0;
  color: #D0D0D0;
}

#patch-filter {
  margin-left: 20px;
  margin-bottom: 15px;
}

#patch-filter span {
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  // margin: 5px;
  border: 1px solid #999;

  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

#patch-filter span:hover {
  cursor: pointer;
  background: #999;
  // background: rgba(255,255,255,0.15);
  // -webkit-box-shadow: 0 0 7px 3px #fff;
  // -moz-box-shadow: 0 0 7px 3px #fff;
  // box-shadow: 0 0 7px 3px #fff;
}

.selected-patch {
  background: #999;
  // background: rgba(255,255,255,0.15);
  // -webkit-box-shadow: 0 0 7px 3px #fff;
  // -moz-box-shadow: 0 0 7px 3px #fff;
  // box-shadow: 0 0 7px 3px #fff;
}

#tab-selector {
  margin-top: 10px;
  margin-bottom: -5px;
}

#tab-selector span {
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid #999;
  // margin: 5px;
  // text-shadow: 0 0 3px white;
  font-weight: 400;
  // border-radius: 2px;

  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

#tab-selector span:hover {
  cursor: pointer;
  background: #999;
  // background: rgba(255,255,255,0.15);
  // -webkit-box-shadow: 0 0 7px 3px #fff;
  // -moz-box-shadow: 0 0 7px 3px #fff;
  // box-shadow: 0 0 7px 3px #fff;
}

.selected-tab {
  background: #999;
  // background: rgba(255,255,255,0.15);
  // -webkit-box-shadow: 0 0 7px 3px #fff;
  // -moz-box-shadow: 0 0 7px 3px #fff;
  // box-shadow: 0 0 7px 3px #fff;
}
