// Place all the styles related to the Api::Heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-list {
  background: #202020;
  padding: 0px 10px 10px 10px;
}

.hero-list div {
  float: left;
  width: 54px;
  height: 30px;
  overflow: hidden;
  position: relative;
  margin: 1px;

  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

.hero-list div:hover {
  z-index: 100;
  transform: scale(2);
}

.hero-list img {
  width: 25px;
  height: 25px;
}

.selected-heroes img {
  width: 100px;
  height: 100px;
  margin: 1px;
}

.hero-dropdowns div {
  float: left;
}

.selected-hero-stats {
  display: inline;
  color: white;
  background: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selected-hero-stats img {
  width: 40px;
  margin: 3px;
  margin-top: -30px;
}

.selected-hero-stats span {
  font-size: 16px;
}

.selected-hero-stats h3 {
  margin-top: 0px;
}

.item-list {
  padding-top: -15px;
}

.gfycat {
  height: 115px;
  margin: 1px;
  margin-left: -88px;
}

.loading {
  opacity: .6;
}

.wins-bar {
  fill: #B6FF00;
  stroke-width: 1px;
  stroke: black;
}

.losses-bar {
  fill: #FF1177;
  stroke-width: 1px;
  stroke: black;
}
