.win-loss-bar {
  transform: translateY(-4px);
}

.bar-text {
  font-size: 10px;
  transform: translate(45px,-53px);
}

.other-hero-stats {
  padding-top: 20px;
  height: 34vh;
  overflow: hidden;

  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;

  background: #404040;
  // background: url("redtrees.jpg") no-repeat center fixed;
  // background-size: cover;
}

.other-hero-stats:hover {
  overflow-x: hidden;
  overflow-y: scroll;
}

.other-hero-stats img {
  transform: translateY(18px);

  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.chart-header {
  font-size: 1.3vw;
}

#initial-stats {
  height: 42vh;
}

#initial-games-played-chart {
  padding-left: 5px;
  padding-right: 5px;
}

#initial-win-rates-chart {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -1px;
}

.other-hero-stats li {
  // background: #303030;
  height: 26px;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
  transform: translateY(-19px);

  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

.other-hero-stats li:hover {
  background: #808080;
}

.hero-name {
  text-transform: uppercase;
  margin-top: -20px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.selected-hero-column {
  padding: 5px;
  padding-bottom: 0px;
  margin-left: 1px;
}

.game-count-bar {
  fill: #FFD700;
  stroke-width: 1px;
  stroke: black;
}
