.win-loss-bar {
  transform: translateY(-23px);
}

.bar-text {
  font-size: 10px;
  transform: translate(45px,-74px);
}

.other-hero-stats {
  padding-top: 20px;
  height: 365px;
  overflow: hidden;
}

.other-hero-stats:hover {
  overflow-x: hidden;
  overflow-y: scroll;
}

.other-hero-stats img {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#initial-stats {
  height: 470px;
}

.other-hero-stats li {
  height: 26px;
}

.hero-name {
  margin-top: -20px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.selected-hero-column {
  padding: 5px;
  margin-left: 1px;
}

.game-count-bar {
  fill: #FFD700;
  stroke-width: 1px;
  stroke: black;
}
