// Place all the styles related to the Api::Heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-list {
  padding: 0px 10px 10px 10px;
}

#hero-selector {
  padding-bottom: 0px;
}

.hero-list div {
  float: left;
  width: 3vw;
  height: 3.2vh;
  // width: 56px;
  // height: 33px;
  overflow: hidden;
  position: relative;
  margin: 1px;

  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

.hero-list div:hover {
  z-index: 100;
  transform: scale(2);
}

.hero-list img {
  width: 1.2vw;
  height: 1.2vw;
}

.hero-list-header {
  font-size: .9vw;
  margin-top: 2px;
  margin-bottom: 2px;
}

.selected-heroes img {
  width: 100px;
  height: 100px;
  margin: 1px;
}

.hero-dropdowns div {
  float: left;
}

.selected-hero-stats {
  display: inline;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selected-hero-stats img {
  width: 40px;
  height: 25px;
  margin: 3px;
  margin-top: -30px;
}

.selected-hero-stats span {
  font-size: .8vw;
}

.selected-hero-stats h2 {
  margin-top: -20px;
}

.selected-hero-stats h3 {
  margin-top: -20px;
}

.overall-stats span {
  font-size: .9vw;
}

#selected-hero-chart {
  padding-left: 5px;
  padding-right: 5px;
}

.item-list {
  padding-top: -15px;
}

.gfycat {
  height: 12vh;
  margin: 1px;
  margin-left: -85px;
}

.loading {
  opacity: .6;
}

.wins-bar {
  fill: #B6FF00;
  stroke-width: 1px;
  stroke: black;
}

.losses-bar {
  fill: #FF1177;
  stroke-width: 1px;
  stroke: black;
}

.hero-selector h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.section-title {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
}

#hero-picker {
  background: #006dac;
  // background: url("bluesmoke.jpg") no-repeat center fixed;
  background-size: cover;
  height: 95.5vh;
  border-right: 1px solid black;
  padding-left: 15px;
  padding-right: 5px;
}
