// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero-dropdown {
  width: 100px;
  margin: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#match-stats-column {
  padding-left: 2px;
  padding-right: 2px;
}

ul {
  list-style-type: none;
}

ul.horizontal {
  padding-top: 2px;
  padding-left: 0px;
  margin-bottom: 0px;
}

ul.horizontal li {
  display: inline-block;
}

.navbar-default li {
  padding: 10px;
}

ul.dropdown-menu {
  max-height: 500px;
  overflow: auto;
}

ul.dropdown-menu li {
  display: block;
}

.unhighlighted {
  margin: 2px;
}

.radiant-highlighted {
  margin: 0px;
  border: 2px solid #B6FF00;
}

.dire-highlighted {
  margin: 0px;
  border: 2px solid #FF1177;
}

.radiant-highlighted-open {
  margin: 0px;
  border: 2px solid #B6FF00;
  width: 69px;
  height: 69px;
  float: right;
}

.dire-highlighted-open {
  margin: 0px;
  border: 2px solid #FF1177;
  width: 69px;
  height: 69px;
}

.duration-bar {
  fill: #006dac;
  stroke-width: 1px;
  stroke: black;
}

.list-header {
  color: white;
}

.match-list {
  padding-left: 15px;
  padding-right: 15px;
  height: 87vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.selected-heroes li {
  margin-right: 5px;
}

.green {
  color: #B6FF00;
}

.red {
  color: #FF1177;
}

.text-align-center {
  text-align: center;
}
