#navbar-container {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-background-left {
  position: absolute;
  width: 50%;
  height: 4.5vh;
  left: 0px;
  display: inline;
  // background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/v1460604534/radiant_f5sr2s.jpg");
  background-size: contain;
}
.navbar-background-right {
  position: absolute;
  width: 50%;
  height: 4.5vh;
  right: 0px;
  display: inline;
  // background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/v1460604526/dire_i15sh7.jpg");
  background-size: contain;
}

nav {
  height: 4.5vh;
  text-align: center;
  background: transparent;
}
nav ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0 0px;
  transition: all 0.3s;
}
nav a {
  height: calc(1px + 4.5vh);
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #285064;
  transition: all 0.3s;
  text-transform: uppercase;
}
nav a:hover {
  cursor: pointer;
}
nav span {
  display: block;
}
nav img {
  height: 4.5vh;
  margin-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media all and (min-width: 690px) {
  nav li {
    margin: 0;
  }
  nav a {
    color: #fff;
    background-color: #303030;
  }
  nav a:hover {
    cursor: pointer;
  }
  #home-link {
    height: calc(1px + 4.5vh);
    float: right;
    width: 100px;
    margin-right: -42px;
    transform: skewX(15deg);
    background: #303030;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    border-bottom: 1px solid #202020;
  }
  #live-matches-link {
    height: calc(1px + 4.5vh);
    float: right;
    width: 35px;
    margin-right: -2px;
    transform: skewX(15deg);
    border-bottom: 1px solid #202020;
  }
  #live-matches-link a {
    background: #505050;
  }
  #live-matches-link a:hover {
    background: white;
  }
  #matches-link {
    float: left;
    width: 100px;
    margin-left: -42px;
    transform: skewX(-15deg);
    border-bottom: 1px solid #202020;
  }
  #heroes-link {
    height: calc(1px + 4.5vh);
    float: left;
    width: 35px;
    margin-left: -2px;
    transform: skewX(-15deg);
    background: #505050;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    border-bottom: 1px solid #202020;
  }
  #heroes-link a {
    background: #505050;
  }
  #heroes-link a:hover {
    background: white;
  }
  #home-link span {
    transform: skewX(-15deg);
  }
  #live-matches-link span {
    transform: skewX(15deg);
  }
  #matches-link span {
    transform: skewX(15deg);
  }
}
