#navbar-container {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-background-left {
  position: absolute;
  width: 50%;
  height: 50px;
  left: 0px;
  display: inline;
  background: url("radiant.jpg");
  background-size: contain;
}
.navbar-background-right {
  position: absolute;
  width: 50%;
  height: 50px;
  right: 0px;
  display: inline;
  background: url("dire.jpg");
  background-size: contain;
}

nav {
  height: 50px;
  text-align: center;
}
nav ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0 0px;
  transition: all 0.3s;
}
nav a {
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #285064;
  transition: all 0.3s;
  text-transform: uppercase;
}
nav a:hover {
  cursor: pointer;
}
nav span {
  display: block;
}
nav img {
  height: 50px;
  margin-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media all and (min-width: 690px) {
  nav li {
    margin: 0;
  }
  nav a {
    color: #fff;
    background-color: #303030;
  }
  nav a:hover {
    cursor: pointer;
  }
  #home-link {
    float: right;
    width: 100px;
    height: 51px;
    margin-right: -42px;
    transform: skewX(15deg);
    background: #303030;
    border-left: 1px solid #202020;
    border-bottom: 1px solid #202020;
  }
  #matches-link {
    float: left;
    width: 100px;
    margin-left: -42px;
    transform: skewX(-15deg);
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020;
  }
  #home-link span {
    transform: skewX(-15deg);
  }
  #matches-link span {
    transform: skewX(15deg);
  }
}
