.match-open {
  // background: #303030;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0 0 6px black;
  margin-top: 4px;
  padding-bottom: 3px;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

#radiant-win {
  background: url("radiant.jpg") no-repeat;
  background-size: cover;
}

#dire-win {
  background: url("dire.jpg") no-repeat;
  background-size: cover;
}

.match-open h3 {
  text-align: center;
}

.match-open img {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.radiant-portraits div {
  float: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.item-slot {
  width: 32px;
  height: 25px;
}

.open-match-row {
  height: 69px;
}

.pad-top {
  padding-top: 5px;
}

#open-match-winner {
  font-size: 25px;
  font-family: "Alegreya Sans"
}

.dire-hero-name {
  font-weight: 600;
  float: right;
  text-transform: uppercase;
  color: #FF1177;
}

.radiant-hero-name {
  font-weight: 600;
  text-transform: uppercase;
  color: #B6FF00;
}
