.match-open {
  // background: #000000;
}

.match-open span {
  font-size: 20px;
}

.match-open h3 {
  text-align: center;
}

.radiant-portraits div {
  float: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.item-slot {
  width: 32px;
  height: 25px;
  padding: 2px;
}

.open-match-row {
  height: 69px;
}

.pad-top {
  padding-top: 5px;
}

#open-match-winner {
  font-size: 25px;
  font-family: "Alegreya Sans"
}
